.background
{
  /*min-height: 1000px;*/
  background-image: url('../../public/background.png');
  background-size: cover;
}

.box_artigos
{
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
}

.title
{
  color: white;
  font-size: 28px;
  width: 100%;
  margin-top: 5px;
  height: 70px;
  line-height: 70px;
  background-color: #6699FE;
  text-align: center;
}

.box_search
{
  margin-top: 1%;
  height: 90px;
  line-height: 90px;  
  width: 80%;
  border-radius: 5px;
  background-color: #EBEBEB;
  opacity: 0.5;  
  direction: rtl;
}

.search
{
  margin-right: 5%;
  width: 30%;
  height: 30px;
  border-radius: 5px;
  background-color: white;  
  direction: ltr;
}

.box_list_title
{
  background-color: #6699FE;
  width: 80%;
  margin-top: 5px;
  padding: 2%;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;    
}

.name_list_title
{
  /*background-color: purple;*/
  color: white;
  width: 80%;
  font-size: 30px;  
}

.year_list_title
{
  /*background-color: aqua;*/
  color: white;
  font-size: 30px;  
  height: 70px;
  line-height: 70px;

  display: flex;
  text-align: center;
    
}

.ul
{
  padding: 0; 
  margin: 0;
  width: 80%;
  list-style-type: none;   
}

.item
{
  color: black;
  margin-top: 0.5%;
  padding: 3%;
  border-radius: 5px;
  background-color: #EBEBEB;
  opacity: 0.5;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  transition:all 0.3s ease;
}

.item:hover
{
  color: white;
  background-color: #757575; 
  opacity: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: left;


  padding-top: 5%;
  padding-bottom: 5%;

}

.text_name_item
{
  /*background-color: purple;*/
  font-size: 16px;
  width: 80%;  
}

.text_year_item
{
  /*background-color: aqua;*/
  font-size: 20px;
  height: 70px;
  line-height: 70px; 
  text-align: center;
}

.text_name_item_hovered
{
  /*background-color: purple;*/
  font-size: 24px;
  width: 80%;
  margin-bottom: 2%;  

  text-align: center;
}

.descricao_item
{
  width: 80%;
  /*background-color: black;*/

  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: center;
}

.descricao_publicacao
{
  /*background-color: purple;*/
  min-width: 50%;
  width: auto;
 

  display: flex;
  flex-direction: column;
}

.texto_publicacao
{
  /*background-color: purple;*/
  color: #ffedaa;
  padding: 3%;
}

.box_lista_autores
{
  /*background-color: aqua;*/
  color: #bed4ff;
  padding: 3%;
}

.titulo_autores
{
  /*background-color: blue;*/
  margin: 0;
  padding: 0;  
}

.lista_autores
{
  /*background-color: blue;*/
  margin: 0;
  padding: 0;
  list-style: none;
}