.box_galeria
{
   min-height: 400px;
   display: flex;
   flex-wrap: wrap;  
   justify-content: center;
}

.title
{
  color: white;
  font-size: 28px;
  width: 100%;
  margin-top: 5px;
  height: 70px;
  line-height: 70px;
  background-color: #FAC70A;
  text-align: center;
}

.lista
{
    /*background-color: #FAC70A;*/
    margin: 0;
    padding: 0;
    width: 80%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    list-style: none;
}

.item_Lista
{
    background-color: rgba(255, 255, 255, 0.5);
    /*min-width: 150px;*/
    width: 190px;
    height: 190px;
    margin: 2.3%;
    border-radius: 10px;
    /*padding: auto 0 auto 0;*/
    z-index: 0;

    transition:all 0.3s ease;
}

.item_Lista:hover
{
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    transform: scale(1.2);    
}

.a
{        
    padding: 10%;

    width: 190px;
    height: 190px;

    display: flex;
    flex-direction: column;
    text-align: center;    

}

.imagem {
    height: 121px;
    width: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title_Img
{    
    margin-top: 15px;
    height: 21px;
}

.carousel_ext
{
    background-color: #050505b1;
    width: 55%;
    border-radius: 10px;
    padding: 2% 2% 0 2%;
    margin: 3% 3% 0 3%;       
}