.message 
{
    background-color: #ebebeb9a;
    border-radius: 5px;

    width: 80%;
    min-height: 30vh;

    font-size: 1.7rem;
    text-align: center;
    text-overflow: clip;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}