.background
{
  min-height: 1000px;
  background-image: url('../public/background.png');
  background-size: cover;
}

.text_title
{
  font-size: 200%;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 400;
}

.title_bar
{
  align-items: center;
  margin-top: 1%;
  width: 100%;
  height: 90px;
  display: flex;
  background-color: #87B93F;
}

.title_bar2
{
  align-items: center;
  margin-top: 1%;
  width: 100%;
  height: 90px;
  display: flex;
  background-color: #3c9dde;
}

.ul
{
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;  
  list-style-type: none;
  justify-content: space-evenly;
}

.a
{
  background-color: white;
  border-radius: 5%;
  margin: 0 2% 2% 2%;
  padding: 0 0 1% 0;
}

.image
{
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.title_notice
{
  margin-left: 5%;
}

.data_notice
{
  margin-left: 5%;
}

.item
{
  color: black;
  align-items: center;
  margin-top: 2px;
  height: 90px;
  display: flex;
  border-radius: 5px;
  background-color: #EBEBEB;
  opacity: 0.5;
}

.ul2
{
  padding: 0; 
  margin: 0;
  margin-left: 10%;
  margin-right: 10%;
  list-style-type: none;
  margin-top: 2%;
}

.text_name_item
{
  font-size: 30px;
  margin-left: 20px;
  width: 80%;
  padding: 5px;  
}

.text_year_item
{
  font-size: 30px;
  text-align: center;
  width: 20%;  
  padding: 5px;  
}

.image {
  margin-top: 2%;
  border-radius: 4%;
  margin-bottom: 2%;
  height: 400px;
}

.bg2 {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 1%;
  width: 80%;
  border-radius: 3%;
  margin-left: 10%;
}
