.boxItem
{
    margin: 2%;
    border-radius: 5px;
    font-size: 2rem;

    background-color: #ebebeb7e;
    height: 25vw;
    width: 25vw;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition:all 0.3s ease;
}

.boxItem:hover
{
    background-color: #050505b1;
    color: white;
    transform: scale(1.1);     
}

@media (max-width: 1460px) {

    .boxItem
    {
        height: 300px;
        width: 300px;
        
        padding: 3%;

        font-size: 1.5rem;

    }
}

@media (max-width: 700px) {

    .boxItem
    {
        height: 250px;
        width: 250px;
        
        padding: 3%;

        font-size: 1.5rem;

    }
}