.item_Lista
{
    background-color: rgba(255, 255, 255, 0.5);
    /*min-width: 150px;*/
    width: 190px;
    height: 190px;
    margin: 2.3%;
    border-radius: 10px;
    /*padding: auto 0 auto 0;*/
    z-index: 0;

    transition:all 0.3s ease;
}

.item_Lista:hover
{
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    transform: scale(1.2);    
}

.a
{        
    padding: 10%;

    width: 190px;
    height: 190px;

    display: flex;
    flex-direction: column;
    text-align: center;    

}

.imagem {
    height: 121px;
    width: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title_Img
{    
    margin-top: 15px;
    height: 21px;
}