.background {
    min-height: 1000px;
    background-image: url('../public/background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.767);
}

.title {
    background-color: #6699FF;
    width: 100%;
    height: fit-content;
    padding: 0.6%;
    margin: 0;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

.text {
    color: black;
    text-align: justify;
    font-weight: normal;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    
}

.mission {
    margin: 0;
}

.mission .text {
    margin: 50px;
}

.area_list{
    list-style-type: none;
    width: 100% - 100px;
    padding: 0;
    margin: 30px 50px 50px 50px;
}

.area_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.text_box{
    margin: auto 0 auto 5%;
    width: fit-content;
}

.image_box{
    width: fit-content;
    padding: 0px;
    margin-left: 0;
}

.options {
    display: flex;
    flex-direction: row;
    margin: 5% auto 35% auto;
}

.button {
    background-color: #EBEBEB;
    margin: auto;
    font-size: 25px;
    color: black;
    border: 2px solid #c7c7c7;
    padding: 1% 4% 1% 4%;
}