.box_list_title
{
  width: 80vw;

  background-color: #6699FE;
  margin-top: 5px;
  padding: 3%;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  overflow: hidden;
}

.name_list_title
{
  /*background-color: purple;*/
  color: white;
  font-size: 2rem;
}

.year_list_title
{
  /*background-color: aqua;*/
  color: white;
  font-size: 2rem;    
}


@media (max-width: 700px)
{
  .box_list_title
  {
    flex-direction: column;
  }

  .name_list_title
  {
    text-align: center;
  }
}